// Place all the styles related to the puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
 font-family: "Andale Mono", AndaleMono, monospace;
 margin-top: 30px;
 margin-left: 40px;
 margin-right: 40px;
 text-align: center;
}

h1#puzzle_name {
  text-size: 70px;
  font-style: italic;
  color: orange;
}

body {
  color: #00FFFF;
  background-color: black;

}


.submit_tag {
  color: black;
}

fieldset {
  color: red;
}

#background {
  background: url(../images/background.png) repeat 5% 5%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100;
}

#midground {
  background: url(../images/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 200;
}

#foreground {
  background: url(../images/foreground.png) repeat 90% 110%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 300;
}