// Place all the styles related to the puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
 font-family: "Andale Mono", AndaleMono, monospace;
 margin-top: 30px;
 margin-left: 40px;
 margin-right: 40px;
 text-align: center;
}

h1#puzzle_name {
  text-size: 70px;
  font-style: italic;
  color: orange;
}

body {
  color: #00FFFF;
  background-color: black;
}


.submit_tag {
  color: black;
}

fieldset {
  color: red;
}

#solution {
  font-size: 30px;
}

